{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_switchrolebanner/banner

    This template renders the main banner.

    Example context (json):
    {}
}}

<div id="switchrolebanner-banner" class="alert alert-info">
    <button type="button" class="close">×</button>
    <div class="switchrolebanner-info mb-2">
        {{{infomessage}}}
    </div>
    <div class="switchrolebanner-buttons mb-2">
        {{{buttons}}}
    </div>
    <div class="switchrolebanner-footer text-center">
        <label data-fieldtype="checkbox" class="form-check mb-0">
            <input type="checkbox" class="form-check-input" id="switchrolebanner-hide-banner">
            Don't show this again for this session
        </label>
    </div>
</div>
{{#js}}
require(
[
    'jquery',
    'local_switchrolebanner/main',
],
function(
    $,
    Main
) {
    var root = $('#switchrolebanner-banner');
    Main.init(root, {{courseid}});
});
{{/js}}
